<%= generator_label %>
<h3>Show Company</h3>

<p>
  <strong>Company name:</strong>
  <%%= @company.company_name %>
</p>

<%%= link_to edit_company_path(@company), :class => "btn btn-default btn-xs" do %>
        <%% t('helpers.edit') %>
<%% end %>&nbsp;
<%%= link_to companies_path, :class => "btn btn-primary btn-xs" do %>
        <%% t('helpers.back') %>
<%% end %>
