<%= generator_label %>

<%%# add navigation links to this file %>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%%= I18n.t('usermenu.menu')%><span class="caret"></span></a>
  <ul class="dropdown-menu" role="menu">
    <%% if user_signed_in? %>
      <li role="presentation"><%%= link_to I18n.t('usermenu.sign_out'), destroy_user_session_path, :method=>'delete' %></li>
      <li class="divider"></li>
      <li role="presentation" class="dropdown-header"><%%= I18n.t('usermenu.roles')%></li>
            <%%# if (session[:current_right] == nil)
            	puts "session right nil"
            end
            if (session[:current_user] == nil)
              	puts "session user nil"
            end %>
      <%%# find_by_id doesnt throw error, if profile_preferred_right_id is not set %>
      <%% if ((session[:current_right] == nil) && !(current_user.profile == nil))
        	 session[:current_right] = Right.find_by_id(current_user.profile.profile_preferred_right_id)
         end %>
      <%% current_user.rights.each do |r| %>
        <%% if (session[:current_right] == nil)
        	 session[:current_right] = r
           end %>
        <%%# puts "=== current_right id = #{session[:current_right]['id']}" %>
        <%%# puts "=== r.id = #{r.id}" %>
        <%% if ( session[:current_right]['id'] == r.id) %>
          <li role="presentation" class="active"><%%= link_to "#{r.team.team_name} - #{r.right_role.titleize}", choose_user_right_path(current_user,r), html_options = {role: "menuitem", tabindex: "-1"} %></li>
        <%% else %>
          <li role="presentation"><%%= link_to "#{r.team.team_name} - #{r.right_role.titleize}", choose_user_right_path(current_user,r), html_options = {role: "menuitem", tabindex: "-1"} %></li>
        <%% end %>
      <%% end %>
      <li class="divider"></li>
        <li role="presentation" class="dropdown-header"><%%= I18n.t('usermenu.preferences')%></li>
      <li role="presentation"><%%= link_to I18n.t('usermenu.edit_account'), edit_user_registration_path %></li>
      <li role="presentation"><%%= link_to I18n.t('usermenu.edit_profile'), edit_user_profile_path %></li>
    <%% else %><%%# not signed in %>
      <li role="presentation"><%%= link_to I18n.t('usermenu.sign_in'), new_user_session_path %></li>
      <li role="presentation"><%%= link_to I18n.t('usermenu.sign_up'), new_user_registration_path %></li>
    <%% end %><%%# if user_signed_in? %>
    <%% if user_signed_in? %>
      <%% if current_user.admin? %>
        <li class="divider"></li>
        <li role="presentation" class="dropdown-header"><%%= I18n.t('usermenu.administration')%></li>
        <li role="presentation"><%%= link_to I18n.t('usermenu.users'),     users_path     %></li>
        <li role="presentation"><%%= link_to I18n.t('usermenu.rights'),    rights_path    %></li>
        <li role="presentation"><%%= link_to I18n.t('usermenu.profiles'),  profiles_path  %></li>
        <li role="presentation"><%%= link_to I18n.t('usermenu.teams'),     teams_path     %></li>
        <li role="presentation"><%%= link_to I18n.t('usermenu.companies'), companies_path %></li>
      <%% end %>
    <%% end %>
  </ul>
</li>
