<%= generator_label %>
  <div class="field">
    <%%= f.label :company_id %><br>
    <%%# = f.text_field :company_id %>
    <%%= f.select :company_id, right_company_id_select, {:include_blank => true } %>
  </div>
  <div class="field">
    <%%= f.label :team_id %><br>
    <%%# = f.text_field :team_id %>
    <%%= f.select :team_id, right_team_id_select, {:include_blank => true } %>

  </div>
  <div class="field">
    <%%= f.label :right_role %><br>
    <%%= f.select(:right_role, Right.right_roles.keys.map {|role| [role.titleize,role]}) %>  
  </div>