<%= generator_label %>
<%%= form_for([@actuser, @right]) do |f| %>
  <%%= render 'form_errors', f: @right %>
  <%%= f.hidden_field :user_id, :value => @actuser.id %>
  <%%= render 'form_fields', f: f %>
  <div class="actions">
    <%%# = f.submit %>
    <p><br/>
    <%% if ( params[:action] == 'show' ) %>
      <%%= link_to user_rights_path(@actuser), :class => "btn btn-primary btn-xs" do %>
        <%% t('helpers.cancel') %>
      <%% end %>
    <%% else %>    <%%= link_to user_rights_path(@actuser), :class => "btn btn-default btn-xs" do %>
        <%% t('helpers.cancel') %>
      <%% end %>
      <button type="submit" class="btn btn-success btn-xs submit">Right <%%= t('helpers.save') %></button>
    <%% end %>  </p>
  </div>
<%% end %>