<%= generator_label %>
<h3>Showing Right</h3>

<p>
  <strong>Right role:</strong>
  <%%= @right.right_role %>
</p>

<p>
  <strong>User:</strong>
  <%%= "#{@right.user.user_account_name} - #{@right.user.email}" %>
</p>

<p>
  <strong>Company:</strong>
  <%%= @right.company.company_name %>
</p>

<p>
  <strong>Team:</strong>
  <%%= @right.team.team_name %>
</p>

<%%= link_to 'Edit', edit_right_path(@right) %> |
<%%= link_to 'Back', rights_path %>
