<%= generator_label %>
<h3>Showing Right <%%= @actuser.user_account_name %> - <%%= @actuser.email %></h3>

<p>
  <strong>Right role:</strong>
  <%%= @right.right_role %>
</p>

<p>
  <strong>User:</strong>
  <%%= "#{@right.user.user_account_name} - #{@right.user.email}" %>
</p>

<p>
  <strong>Company:</strong>
  <%%= @right.company.company_name %>
</p>

<p>
  <strong>Team:</strong>
  <%%= @right.team.team_name %>
</p>

<%%= link_to edit_user_right_path( @actuser, @right ), :class => "btn btn-default btn-xs" do %>
        <%% t('helpers.edit') %>
<%% end %>&nbsp;
<%%= link_to user_rights_path(@actuser), :class => "btn btn-primary btn-xs" do %>
        <%% t('helpers.back') %>
<%% end %>

